.mainDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    width: 200px;
    padding: 15px;
    border: solid black 1px;
    margin: 15px;
    background-size: contain;
    border-radius: 15px;
    /* margin: 25px */
}

.mainLeft{
    display: flex;
    flex-direction: column;
}

.mainRight{
    width:30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height:100%;
    max-height: 80%;
}

.commentItem{
    overflow-y: scroll;
    height:auto;
    width:100%;
}

.placeComment{
    /* height:20%; */
    border-radius: 5px;
    width:100%;
    /* min-height:20% */
}

.placeComment > button { 
    background-color: #333;
    border-radius: 5px;
    margin-left: 10px;
    box-sizing: border-box;
    border: solid whitesmoke 1px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: whitesmoke;
    transition: all 0.5s;
}


.placeComment > button:hover {
    color: #FF7700;
    border: solid #FF7700 1px;
    cursor:pointer;
}


.audioPlayer{
   background-color: black;
   border-radius: 7px;
   margin: 5px;
   color: #FF7700;
   border: solid #ff7700 1px;
   
}

.rhap_time {
  color: #ff7700;
}

.rhap_progress-indicator{
    background-color: #ff7700
}

.rhap_progress-filled{
    background-color: #ff7700
}

.rhap_main_controls_button{
    background-color: #ff7700;
}

.holder{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.holder > img {
    height: 90px;
    width: 90px;
    border-radius: 5px;
}

.editLink{
    color:black;
    font-size: 10pt;
    /* text-decoration: none; */
}

.deleteB{
    color: #ff7700;
    background-color: #333;
    border-radius: 5px;
    border: none;
    margin-left: 25px;
}

.deleteB:hover{
    cursor: pointer;
}