body{
    background-color: whitesmoke;
    width: 100%
}

.feedSelector {
    position: sticky;
    top:8vh;
    height: 8vh;
    z-index:15;
    background-color: whitesmoke;
    border-bottom: solid black 1px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.selected{
    border: solid #FF7700 1px;
    color:#FF7700;
    list-style: dot;
}

.feedSelector > button {
    margin-left: 40px;
    margin-right:40px;
    background-color:whitesmoke;
    /* padding:15px; */
    border:none;
    font-size: 13pt;
}

.feedSelector > button:hover {
    cursor:pointer;
}

.mainWrap1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    min-height: calc(100vh - 55px);
    width: calc(100vw - 500px);
}

.sideBar{
    padding-top: 25px;
    width: 500px;
    height: calc(100vh - 155px);
    border-left: solid black 1px;
    position: sticky;
    top: 55px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    overflow-y: scroll;
}

.sideBar > img {
    width: 250px;
    height: 250px;
}

.superWrap{
    display: flex;
    flex-direction: row;
}

.commentHold{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.commentHold > * {
    width: 100%;
}
